/* ContactUs.css */

.contact-container {
 
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-message {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  color: #0e0c0c;
  margin-bottom: 20px; /* Add margin if needed */

  /* Add margin auto to create equal space on left and right sides */
  margin-left: auto;
  margin-right: auto;
  max-width: 70%; /* Optionally limit the maximum width */
}

.container-contactus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px); /* Adjusted height to compensate for reduced margin */
  padding-bottom: 240px;
}

.contact-box {
  background-color: #b3bbff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  height: 400px;
  width: 100%;
  align-items: center;
  animation: slideInLeft 0.5s ease-in-out, fadeIn 1s ease forwards; /* Add animation */
}

.contact-box form {
  display: flex;
  flex-direction: column;
}

.contact-box input[type='text'],
.contact-box input[type='email'],
.contact-box textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-box textarea {
  height: 100px;
}

.contact-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.5s ease;
}

.contact-box button:hover {
  background-color: #0056b3;
}

.contact-heading {
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
